.tag-tools {
  position: absolute;
  top: 0px;
  right: 15px;
}

.super-and-sub-tags div.tag-input table.fields {
  width: 100%;
}

.super-and-sub-tags div.tag-input table.fields .tag-input-table {
  margin-left: auto;
  margin-right: auto;
}

#tree-superTags, #subtags {
  padding-right: 10px;
}

#subtags table.page-link td {
  padding-left: 10px;
  padding-right: 10px;
}

div.tag-fragment {
	margin-top: 10px;
}

div.fragments {
	border-top: 2px solid #ccc;
	margin-top: 10px;
	padding-top: 10px;
}

