/*
 * Sub-fragments
 */

#children-control {
	width: 100%;
	margin-bottom: 3px;
}

#children-control td {
  border: none;
}

#reorder-switch button {
	height: 20px;
	padding-left: 2px; 
	padding-right: 4px;
}

#children-content-toggle {
	height: 20px;
	margin-left: 5px;
}
