.filter-name {
  position: relative;
}

.filter-tools {
  position: absolute;
  top: 0px;
  right: 0px;
}

#filterNameForm_filterName,
#includeTagForm_tag,
#excludeTagForm_tag {
  width: 150px;
}

#filterNameForm_saveFilter,
#includeTagForm_addTag,
#excludeTagForm_addTag {
	padding-left: 8px;
	padding-right: 8px;
}

#filterForm,
#classificationForm,
#excludeTagForm {
  margin-bottom: 10px;
}

