/*
 * Sub-fragments
 */

table.children-control {
	width: 100%;
	margin-bottom: 3px;
}

table.children-control td {
  border: none;
}

div.reorder-switch button {
	height: 20px;
	padding-left: 2px; 
	padding-right: 4px;
}

button.children-content-toggle {
	height: 20px;
	margin-left: 5px;
}
