span.highlight {
  background-color: #FFCC66;
}

#largeSearch {
	margin-bottom: 15px;
}

#largeSearch_keywords {
  width: 500px;
  font-size: 12px;
  height: 18px;
  padding: 2px;
  padding-left: 5px;
}

#largeSearch-submit {
	vertical-align: top;
	height: 23px;
	padding: 3px 10px;
}

.tags-by-keywords {
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 10px;
  line-height: 1.5em;
}

.tags-by-keywords .tag {
  margin: 0px;
  margin-right: 5px;
  white-space: nowrap;
}

div.fragments-view {
	margin-top: 20px;
}
