<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%-5p [%d{yyyy/MM/dd HH:mm:ss}] (%c{1}) %m%n"/>
    </layout>
  </appender>

  <category name="org.springframework">
    <priority value="warn"/>
  </category>

  <category name="marubinotto.piggydb.impl.jdbc.h2.H2JdbcUrl">
    <priority value="info"/>
  </category>

  <category name="marubinotto.piggydb.impl.jdbc.h2.util.H2DbUpgrade">
    <priority value="info"/>
  </category>

  <root>
    <priority value="warn"/>
    <appender-ref ref="STDOUT"/>
  </root>

</log4j:configuration>
