#macro( fragmentForPage $fragment $subFragmentFormPanel )

<table class="fragment fragment-full fragment-main multirow" 
	cellpadding="5" cellspacing="0" width="100%" border="0">
#fragmentParentsRow($fragment $null)
#fragmentHeaderRow($fragment $null)
#fragmentBodyRow($fragment)
<tr>
  <td class="subfragments">
    #adFragment()
          
    $utils.raw($subFragmentFormPanel)

  #if ($fragment.hasChildren())
    <table id="children-control" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td align="left" valign="middle">
        <span id="processing-children">&nbsp; </span> ## a place for loading icon
      </td>
      #if ($fragment.canChange($user))
      <td align="right">
        <script type="text/javascript">
        //<![CDATA[
          jQuery(function() {
            jQuery("#reorder-switch button").click(function () {
              var button = jQuery(this);
              if (button.hasClass("selected")) {
                piggydb.widget.FragmentTree.disableSortable();
                button.removeClass("selected");
              }
              else {
                piggydb.widget.FragmentTree.enableSortable($fragment.id);
                button.addClass("selected");
              }
            });
          });
        //]]>
        </script>
        <div id="reorder-switch" class="select-switch" style="margin-left: 20px;">
          <button type="button" name="reorder">
            <img src="$context/images/sortable.png" alt="$messages.get("FragmentPage-reorder")" 
              border="0" style="vertical-align: middle;"/> 
            <span style="vertical-align: middle;">$messages.get("FragmentPage-reorder")</span>
          </button>
        </div>
      </td>
      #end
      <td width="30">
        <script type="text/javascript">
        //<![CDATA[
          jQuery(function() {
            jQuery("#children-content-toggle").click(function () {
              piggydb.widget.ContentToggle.onAllContentToggleClick(this, jQuery("#children-tree"));
            });
          });
        //]]>
        </script>
        <button type="button" id="children-content-toggle">
          <img src="$context/style/images/bullet-arrow-down.png" border="0" alt="" style="margin: -2px;"/>
        </button>
      </td>
    </tr>
    </table>
           
    <div id="children-tree" class="children">
      <ul class="fragment-tree sortable-children">
      #foreach ($relation in $fragment.childRelations)
        <li class="fragment-node" id="child_${relation.id}"
          >#fragmentRootNode($relation.to $relation $fragment.classification $null) </li>
      #end
      </ul>
    </div>
  #end
  </td>
</tr>
</table>
	
#end



#macro( fragment $fragment $contextTags )
  
<table class="fragment fragment-full multirow" cellpadding="5" cellspacing="0" width="100%" border="0">
#fragmentParentsRow($fragment $null)
#fragmentHeaderRow($fragment $contextTags)
#fragmentBodyRow($fragment)
#fragmentChildrenRow($fragment.childRelations)
</table>
  
#end



#macro ( fragmentCell $fragment $compactColumn ) 
  
<table class="fragment fragment-cell #if ($compactColumn) fragment-cell-compact #end" 
  cellpadding="0" cellspacing="0" width="100%" border="0">
<tr>
  <th class="header-cell" title="$fragment.title" valign="middle" style="padding-left: 5px;">
    <div class="$html.fragmentHeaderClass($fragment.id, $selectedFragments)">
    #if ($compactColumn)
			#fragmentCellCompactCaption($fragment)
    #else
      #fragmentCaption($fragment true true)
    #end
      #fragmentToolBar($fragment)
    </div>
  </th>
</tr>
</table>
  
#end



#macro ( fragmentRootNode $fragment $contextRelation $contextTags $lightNode ) 
  
<table class="fragment fragment-node fragment-root-node multirow" 
  cellpadding="0" cellspacing="0" width="100%" border="0">
#if (!$lightNode)
#fragmentParentsRow($fragment $contextRelation)
#end
<tr>
  <th class="header-cell root-header-cell" title="$fragment.title" 
      valign="middle" style="padding-left: 5px;">
    <div class="$html.fragmentHeaderClass($fragment.id, $selectedFragments)">
      #fragmentNodeCaption($fragment $contextRelation)
      #fragmentTags($fragment $contextTags)
			#if (!$lightNode) #fragmentUpdateInfo($fragment) #end
      #fragmentToolBar($fragment)
    </div>
  </th>
</tr>
</table>
  
#end



#macro ( fragmentNode $fragment $contextRelation $contextTags )
  
<table class="fragment fragment-node multirow" 
  cellpadding="0" cellspacing="0" width="100%" border="0">
#fragmentParentsRow($fragment $contextRelation)
<tr>
  <th class="header-cell" title="$fragment.title" valign="middle" style="padding-left: 5px;">
    <div class="$html.fragmentHeaderClass($fragment.id, $selectedFragments)">
      #fragmentNodeCaption($fragment $contextRelation)
      #fragmentTags($fragment $contextTags)
			#fragmentUpdateInfo($fragment)
      #fragmentToolBar($fragment)
    </div>
  </th>
</tr>
</table>
  
#end



#macro ( selectedFragmentEntry $fragmentId $fragmentTitle ) 

<table class="nowrap-frame" border="0"><tr><td nowrap="nowrap">
  <a class="fragment-link" href="$resources.fragmentPath($fragmentId)">#$fragmentId</a>
  <span class="title">$fragmentTitle &nbsp;</span>
  <a class="remove" href="#" 
		onclick="piggydb.widget.SelectedFragments.instance.remove('$fragmentId'); return false;">
    <img class="delete-button" src="$context/images/delete.gif" 
      border="0" alt="x" style="padding-right: 5px;"/></a>
</td></tr></table>

#end



#macro ( fragmentProperties $fragment ) 

<div class="fragment-properties">
  <div class="prop-title">
  	<span class="title">$utils.blankToNbsp($fragment.title)</span>
		<span class="title-short">$utils.blankToNbsp($fragment.makeHeadline(15))</span>
  	<span class="headline">$utils.blankToNbsp($utils.raw($html.fragmentHeadline($fragment)))</span>
  </div>
  <div class="prop-content">
  #if ($fragment.content && $fragment.content.trim() != "")
  	#fragmentTextContent($fragment)
  #end
  </div>
	<div class="prop-update-info">
		#fragmentUpdateInfo($fragment)
	</div>
	<div class="prop-tags">
		#fragmentTags($fragment $null)
	</div>
</div>
	
#end



