#macro( fragmentForPage $fragment )

<table class="$html.fragmentTableClass($fragment) fragment-full fragment-main multirow" 
	cellpadding="5" cellspacing="0" width="100%" border="0">
#fragmentParentsRow($fragment $null)
#fragmentHeaderRow($fragment $null)
#fragmentBodyRow($fragment)
<tr>
  <td class="subfragments">
    #adFragment()
		#if (!$user.isViewer())
  		<div class="new-sub-fragment-buttons">
        #newFragmentButtons(
    			"piggydb.widget.FragmentForm.openToAddChild(${fragment.getId()}); return false;"
    			"piggydb.widget.FileForm.openToAddChild(${fragment.getId()}); return false;")
  		</div>
		#end
    <div id="children-tree" class="children">
			#fragmentRootChildNodes($fragment)
    </div>
  </td>
</tr>
</table>
	
#end



#macro( fragment $fragment $contextTags )
  
<table class="$html.fragmentTableClass($fragment) fragment-full multirow" 
	cellpadding="5" cellspacing="0" width="100%" border="0">
#fragmentParentsRow($fragment $null)
#fragmentHeaderRow($fragment $contextTags)
#fragmentBodyRow($fragment)
#fragmentChildrenRow($fragment.childRelations)
</table>
  
#end



#macro ( fragmentCell $fragment $compactColumn ) 
  
<table class="$html.fragmentTableClass($fragment) fragment-cell #if ($compactColumn) fragment-cell-compact #end" 
  cellpadding="0" cellspacing="0" width="100%" border="0">
<tr>
  <th class="header-cell" title="$fragment.title" valign="middle" style="padding-left: 5px;">
    <div class="$html.fragmentHeaderClass($fragment.id, $selectedFragments)">
    #if ($compactColumn)
			#fragmentCellCompactCaption($fragment)
    #else
      #fragmentCaption($fragment true)
    #end
      #fragmentToolBar($fragment)
    </div>
  </th>
</tr>
</table>
  
#end



#macro ( fragmentRootNode $fragment $contextRelation $contextTags $lightNode ) 
  
<table class="$html.fragmentTableClass($fragment) fragment-node fragment-root-node multirow" 
  cellpadding="0" cellspacing="0" width="100%" border="0">
#if (!$lightNode)
#fragmentParentsRow($fragment $contextRelation)
#end
<tr>
  <th class="header-cell root-header-cell" title="$fragment.title" 
      valign="middle" style="padding-left: 5px;">
    <div class="$html.fragmentHeaderClass($fragment.id, $selectedFragments)">
      #fragmentNodeCaption($fragment $contextRelation)
      #fragmentTags($fragment $contextTags)
			#if (!$lightNode) #fragmentUpdateInfo($fragment) #end
      #fragmentToolBar($fragment)
    </div>
  </th>
</tr>
</table>
  
#end



#macro ( fragmentNode $fragment $contextRelation $contextTags )
  
<table class="$html.fragmentTableClass($fragment) fragment-node multirow" 
  cellpadding="0" cellspacing="0" width="100%" border="0">
#fragmentParentsRow($fragment $contextRelation)
<tr>
  <th class="header-cell" title="$fragment.title" valign="middle" style="padding-left: 5px;">
    <div class="$html.fragmentHeaderClass($fragment.id, $selectedFragments)">
      #fragmentNodeCaption($fragment $contextRelation)
      #fragmentTags($fragment $contextTags)
			#fragmentUpdateInfo($fragment)
      #fragmentToolBar($fragment)
    </div>
  </th>
</tr>
</table>
  
#end



#macro ( selectedFragmentEntry $fragmentId $fragmentTitle ) 

<table class="nowrap-frame" border="0"><tr><td nowrap="nowrap">
  <a class="fragment-link" href="$resources.fragmentPath($fragmentId)">#$fragmentId</a>
  <span class="title">$fragmentTitle &nbsp;</span>
  <a class="remove" href="#" 
		onclick="piggydb.widget.SelectedFragments.instance.remove('$fragmentId'); return false;">
    <img class="delete-button" src="$context/images/delete.gif" 
      border="0" alt="$messages.get("remove")" style="padding-right: 5px;"/></a>
</td></tr></table>

#end



#macro ( fragmentProperties $fragment ) 

<div class="fragment-properties">
	<div class="prop-caption">
		<div class="default">
			#fragmentCaption($fragment false)
		</div>
		<div class="cell-compact">
			#fragmentCellCompactCaption($fragment)
		</div>
	</div>
  <div class="prop-title">
  	<span class="title">$utils.blankToNbsp($fragment.title)</span>
		<span class="title-short">$utils.blankToNbsp($fragment.makeHeadline(15))</span>
  	<span class="headline">$utils.blankToNbsp($utils.raw($html.fragmentHeadline($fragment)))</span>
  </div>
  <div class="prop-body-row">
		<table border="0">
		<tbody class="body-row-container">
			#fragmentBodyRow($fragment)
		</tbody>
		</table>
  </div>
	<div class="prop-update-info">
		#fragmentUpdateInfo($fragment)
	</div>
	<div class="prop-tags">
		#fragmentTags($fragment $null)
	</div>
</div>
	
#end



