#macro ( fragmentsView $id $fragmentsUrl $initialParams $sortable $queryable $jsAddFragment $jsAddFile )
  
<div id="$id" class="fragments-view">
	
<script type="text/javascript">
//<![CDATA[
var fragmentsView_$id;

jQuery(function() {
	fragmentsView_$id = new piggydb.widget.FragmentsView(
		"$id", "$fragmentsUrl", $fragmentsViewScale, $fragmentsViewOrderBy, $fragmentsViewAscending);
    
#if ($initialParams)
  fragmentsView_${id}.initialParams = $initialParams;
#end
#if ($queryable)
  fragmentsView_${id}.queryable = true;
#end
#if ($highlightedFragment)
	fragmentsView_${id}.highlight = $highlightedFragment;
#end

  fragmentsView_${id}.init();
  
#if ($keywords)
  setTimeout(function() { fragmentsView_${id}.headerDiv.find("span.label").click(); }, 300);
#end
});
//]]>
</script>

## header
<div class="view-header" style="display: none;">
	<span class="label">
		<span class="title">All</span>:
		<span class="count"></span>
    <span class="toggle" style="display: none;">
      <img border="0" alt="" src="$context/style/images/bullet-arrow-down.png"/>
    </span>
	</span>
	#if ($jsAddFragment)
  	#newFragmentButtons($jsAddFragment $jsAddFile)
  #end
  
  <div class="fragments-criteria" style="display: none;">
    <div class="keywords" style="padding-right: 30px;">
      <input class="fragments-search keywords" type="text" value="$keywords"/>
    </div>
    <div class="tags-include" style="position: relative; padding-right: 100px;">
      <input class="fragments-search tags-include" type="text"
      #if ($tag)
        value="$tag.name"
      #elseif ($filter)
        value="$filter.includes.toCommaSeparated()"
      #end
      />
      <div class="tags-include-and-or" style="position: absolute; top: 0; right: 0;">
        <input type="radio" id="${id}-and" name="andOr" value="true" checked="checked"><label for="${id}-and">All</label>
        <input type="radio" id="${id}-or" name="andOr" value="false"><label for="${id}-or">Any</label>
      </div>
    </div>
    <div class="tags-exclude">
      <input class="fragments-search tags-exclude" type="text"
      #if ($filter)
        value="$filter.excludes.toCommaSeparated()"
      #end
      />
    </div>
  </div>
</div>

## control
<table class="view-control" width="100%" cellpadding="0" cellspacing="0" border="0" style="display: none;">
<tr>
  <td align="left" width="18" nowrap="nowrap">
    <img src="$context/images/zoom.png?$version" border="0" alt="" style="margin: -2px;"/>
  </td>
  <td align="left">  
    <div class="view-slider"></div>
  </td>
  #if ($sortable)
  <td align="right" style="padding-right: 10px;">
    <form class="sort-fragments" action="">
    <table cellpadding="0" cellspacing="0" border="0">
    <tr>
			<td valign="middle" style="padding-top: 3px; padding-right: 8px;">
				<a class="tool-button shuffle" href="#" title="$messages.get("shuffle")"
					onclick="fragmentsView_${id}.shuffle(); return false;">
				<img src="$context/images/shuffle.png" border="0" alt="$messages.get("shuffle")"/></a>
			</td>
      <td valign="middle">
        <select class="select-orderBy" name="orderBy">
        #foreach ($field in $fragmentFields)
          <option value="$field.value" #if ($fragmentsViewOrderBy == $field.value) selected="selected"  #end
            >$messages.get("field-${field.name}")</option>
        #end
        </select>
      </td>
      <td valign="middle">
        <div class="select-switch select-ascending-or-not">
          <button type="button" name="ascending"
            #if ($fragmentsViewAscending) class="selected" #end
            ><img src="$context/images/order-ascending.png" border="0" alt=""/></button><button 
          type="button" name="descending"
            #if (!$fragmentsViewAscending) class="selected" #end
            ><img src="$context/images/order-descending.png" border="0" alt=""/></button>
        </div>
      </td>
    </tr>
    </table>
    </form>
  </td>
  #end
  #if ($atomUrl)
  <td align="right" width="25">
    <a href="$atomUrl" style="margin-left: 3px; margin-right: 5px;">
    <img src="$context/images/feed.png" border="0" alt="Feed"/></a>
  </td>
  #end
</tr>
</table>

## content
<div class="view-content"></div>

</div>

#end



#macro ( fragmentsViewContent $view $fragments $contextTags $firstSet $lastSet )
 
#if (!$hideHeader)
<script type="text/javascript">
//<![CDATA[
jQuery(function() {
	var header = jQuery("#$view.viewId div.view-header");
	header.find("span.title").html('$utils.raw($label)');
	header.find("span.count").text('$format.decimal($fragments.totalSize) $messages.get("items")');
  header.show();
});
//]]>
</script>
#end

#if ($fragments && $fragments.size() > 0)
  
<script type="text/javascript">
//<![CDATA[
jQuery(function() {
  jQuery("#$view.viewId table.view-control").show();  

#if ($view.viewType == "multicolumn")
  piggydb.widget.Fragment.makeFragmentsDroppable(
    "#$view.viewId .page-index-${fragments.pageIndex} .liquid-block-frame", 
    "liquid-block-drophover", "liquid-block-droppable");
#else
  piggydb.widget.Fragment.makeFragmentsDroppable(
    "#$view.viewId .page-index-${fragments.pageIndex} table.fragment", 
    null, null);
#end
  piggydb.widget.Fragment.makeRelationsDraggable(
    "#$view.viewId .page-index-${fragments.pageIndex} ");
    
#if ($keywordRegex)
  jQuery('.tags-by-keywords, #$view.viewId .fragment-caption .title, #$view.viewId .fragment-content').
    highlightRegex(new RegExp('$utils.raw($keywordRegex)', 'ig'));
#end
});
//]]>
</script>

##
## multicolumn
##
#if ($view.viewType == "multicolumn")

#if ($firstSet)
  <script type="text/javascript">
  //<![CDATA[
  var OUTER_WIDTH = 305;
  var blockWidth = $view.columnWidth;
  
  function initLiquidBlocks(baseElement, blockWidth) {
    // Workaround for a browser bug where the container width 
    // won't be calculated correctly when first loading
    liquidBlocks(baseElement, blockWidth, jQuery("body").width() - OUTER_WIDTH);
    liquidBlocks(baseElement, blockWidth, null);
  }
  
  jQuery(document).ready(function() {
    jQuery(window).resize(function () {
      liquidBlocks(jQuery("#$view.viewId"), blockWidth, null);
    });
  
    initLiquidBlocks(jQuery("#$view.viewId"), blockWidth);
  });
  //]]>
  </script>
  <ul class="liquid-blocks fragments-container">
#end
#foreach ($fragment in $fragments)
  <li class="liquid-block page-index-${fragments.pageIndex}">
    <div class="liquid-block-frame" style="position: relative;"> ## the base of the toolbar 
      <div class="liquid-block">
        #fragmentCell($fragment $view.compactColumn)
      </div>
    </div>
  </li>
#end
#if ($firstSet)
  </ul>
  <div style="clear: both;"/>
#end
#if (!$firstSet)
  <script type="text/javascript">
  //<![CDATA[
  jQuery(document).ready(function() {
    initLiquidBlocks(jQuery("#$view.viewId"), $view.columnWidth);
  });
  //]]>
  </script>
#end

##
## tree
##
#elseif ($view.viewType == "tree")
  
#if ($firstSet)<ul class="fragment-tree fragments-container">#end
#foreach ($fragment in $fragments)
  <li class="fragment-node fragment-root-node page-index-${fragments.pageIndex}"
    >#fragmentRootNode($fragment $null $contextTags $view.lightNode) 
  </li>
#end
#if ($firstSet)</ul>#end

##
## detail / full
##
#elseif ($view.viewType == "detail" || $view.viewType == "full")
  
#if ($firstSet)<div class="fragments-container">#end
#foreach ($fragment in $fragments)
  <div class="page-index-${fragments.pageIndex}">
    #if ($view.viewType == "detail")
      #fragment($fragment $contextTags)
    #else
    	#fragmentFullFledged($fragment)
    #end
  </div>
#end
#if ($firstSet)</div>#end
	
#end  ## for each $view.viewType

##
## "Show More" Button
##
#if (!$lastSet && !$shuffle)
<button type="button" class="show-more" onclick="fragmentsView_${view.viewId}.showMore(this);">
  <img src="$context/images/resultset-next.png" border="0"/>
</button>
#end

#end  ## $fragments.size() > 0

#end



#macro( fragmentRootChildNodes $fragment )
	
#if ($fragment.hasChildren())
<table class="children-control" border="0" cellpadding="0" cellspacing="0">
<tr>
  <td align="left" valign="middle">
    <span class="processing-children">&nbsp; </span> ## a place for loading icon
  </td>
  #if ($fragment.canChange($user))
    <td align="right">
      <div class="reorder-switch select-switch" style="margin-left: 20px;">
        <button type="button" name="reorder" 
						onclick="piggydb.widget.FragmentTree.onReorderSwitchClick(this, $fragment.id);">
          <img src="$context/images/sortable.png" alt="$messages.get("FragmentPage-reorder")" 
            border="0" style="vertical-align: middle;"/> 
          <span style="vertical-align: middle;">$messages.get("FragmentPage-reorder")</span>
        </button>
      </div>
    </td>
  #end
  <td width="30">
    <button type="button" class="children-content-toggle"
				onclick="piggydb.widget.ContentToggle.onAllContentToggleClick(this, jQuery(this).closest('div.children'));">
      <img src="$context/style/images/bullet-arrow-down.png" border="0" alt="" style="margin: -2px;"/>
    </button>
  </td>
</tr>
</table>

<ul class="fragment-tree sortable-children">
#foreach ($relation in $fragment.childRelations)
  <li class="fragment-node" id="child_${relation.id}"
    >#fragmentRootNode($relation.to $relation $fragment.classification $null) </li>
#end
</ul>
#end
	
#end



