#macro( parameterizedJs )
	
piggydb.namespace.use("piggydb.util.*");


##
## Initialization
##
jQuery(function() {
#if ($session.containsKey("scrollTopElement"))
  setScrollTopTo('$session.scrollTopElement');
#end

#if ($message)
	piggydb.widget.putGlobalMessage('$utils.raw($utils.escapeJs($message))');
#end

#if ($highlightedFragment)
  piggydb.widget.Fragment.highlight($highlightedFragment, null);
#end

#if ($user.isViewer())
	if (typeof piggydb.widget.QuickEdit != 'undefined') {
		piggydb.widget.QuickEdit.init = function() { /* disabled */ };
	}
	if (typeof piggydb.widget.Fragment != 'undefined') {
		piggydb.widget.Fragment.makeFragmentsDroppable = function(selector, hoverClass, activeClass) { /* disabled */ };
		piggydb.widget.Fragment.makeRelationsDraggable = function(selectorPrefix) { /* disabled */ };
	}
	if (typeof piggydb.widget.SelectedFragments != 'undefined') {
		piggydb.widget.SelectedFragments.makeDroppable = function(element) { /* disabled */ };
	}
#end
});
  
#end

