#macro( parameterizedJs )
	
piggydb.namespace.import("piggydb.util.*");


##
## Initialization
##
jQuery(function() {
#if ($session.containsKey("scrollTopElement"))
  setScrollTopTo('$session.scrollTopElement');
#end

#if ($message)
	piggydb.widget.putGlobalMessage('$utils.raw($utils.escapeJs($message))');
#end

  jQuery.Autocompleter.defaults.formatItem = function(row) { 
    return escapeHtml(row[0]); 
  };
  jQuery("#searchForm_keywords").autocomplete(piggydb.server.autoCompleteUrl, {
    minChars: 1,
    selectFirst: true,
    multiple: false,
    scrollHeight: 300
  });

  prettyPrint();
  jQuery.updnWatermark.attachAll();
#if ($highlightedFragment)
  piggydb.widget.Fragment.highlight($highlightedFragment, null);
#end

#if ($user.isViewer())
	if (typeof piggydb.widget.QuickEdit != 'undefined') {
		piggydb.widget.QuickEdit.init = function() { /* disabled */ };
	}
	if (typeof piggydb.widget.Fragment != 'undefined') {
		piggydb.widget.Fragment.makeFragmentsDroppable = function(selector, hoverClass) { /* disabled */ };
		piggydb.widget.Fragment.makeRelationsDraggable = function(selectorPrefix) { /* disabled */ };
	}
	if (typeof piggydb.widget.SelectedFragments != 'undefined') {
		piggydb.widget.SelectedFragments.makeDroppable = function(element) { /* disabled */ };
	}
#end
});
  
#end

