#macro ( tagIcon $tagName ) 

<span class="$html.tagIconClass($tagName)">&nbsp;</span>

#end



#macro ( miniTagIcon $tagName ) 

<span class="$html.miniTagIconClass($tagName)">&nbsp;</span>

#end



#macro( singleTagInput $tagInput $addButton )

<script type="text/javascript">
//<![CDATA[
  jQuery(function() {
    new TagPalette(
      jQuery("#${tagInput.id}-tag-palette"), 
      function(source, tagId, tagName, palette) {
        var input = jQuery("#${tagInput.id}");
        input.val(tagName);
        palette.close();
        input.focus();
      },
      jQuery("#${tagInput.id}-pulldown"));
  });
//]]>
</script>
<table class="tag-input-table" border="0" cellpadding="0" cellspacing="0">
<tr>
  <td class="tag-input" nowrap="nowrap">
    $utils.raw($tagInput)<button type="button" class="pulldown" id="${tagInput.id}-pulldown">
      <span class="label">&nbsp;</span></button>
    <br/>
    <div class="pulldown-box tag-palette" id="${tagInput.id}-tag-palette"></div>
  </td>
  <td style="padding-left: 5px;">$utils.raw($addButton) </td>
</tr>
</table>

#end



#macro( superTagForm $superTagForm $superTags $showInput )

$utils.raw($superTagForm.startTag())

## tag input
#if ($showInput)
<div class="tag-input">
<table class="fields" border="0" cellpadding="0" cellspacing="0"
  style="margin-top:5px;margin-bottom:5px;">
#formErrorsRow($superTagForm)
<tr><td>
  #singleTagInput($superTagForm.fields.tag $superTagForm.fields.addTag)
</td></tr>
</table>
</div>
#end

## tag tree
#if ($superTags.rootNode.hasChildren())
 $utils.raw($superTags)
#end

$utils.raw($superTagForm.endTag())

#end



#macro ( emptyTagPalette ) 

<div class="empty-tag-palette" style="padding: 5px;">$messages.get("no-tags")</div>

#end



#macro ( tagPaletteHeader ) 

<table class="tag-palette-header" border="0" style="width: 100%;">
<tr>
	<td>
		<div class="select-switch" style="padding: 2px;">
      <button type="button" #tagPaletteButtonContent("tree", $viewType)
			/></button><button type="button" #tagPaletteButtonContent("cloud", $viewType)
			/></button><button type="button" #tagPaletteButtonContent("flat", $viewType)
			/></button>
    </div>
	</td>
	<td align="center" style="width: 20px;">
	#if ($enableClose)
    <a class="close" href="#" onclick="${jsPaletteRef}.close(); return false;">
    <img class="delete-button" src="$context/images/delete.gif" border="0" alt="x"/></a>
	#end
  </td>
</tr>
</table>

#end



#macro ( tagPaletteButtonContent $type $selectedType ) 

#if ($selectedType == $type) class="selected" #end
title="$messages.get("tag-$type")"
onclick="${jsPaletteRef}.onViewSwitchClick(this, '$type')"
><img src="$context/images/palette-${type}.png" border="0" alt="$messages.get("tag-$type")"
	
#end



#macro ( tagPaletteEntry $tag ) 
	
<span class="tag-palette-draggable droppable-to-fragment">
  <span class="tag">
    <span class="$html.miniTagIconClass($tag.name)"
			><img src="$context/images/empty.png" border="0" alt=""/></span>
    <a class="tag" href="#" title="$tag.name"
			onclick="${jsPaletteRef}.onTagSelect(this, ${tag.id}, '$utils.escapeJs($tag.name)', ${jsPaletteRef}); return false;">$tag.name</a>
    <span class="id" style="display: none;">$tag.id</span>
  </span>
</span>

#end


