#macro( globalTemplates )

<div id="templates" style="display: none;">

<div id="tpl-selected-fragment-entry">
  #selectedFragmentEntry($null, "dummy")
</div>

<div id="tpl-dialog-confirm">
  <div class="dialog-confirm" title="">
    <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 0 0;">
      <img src="$context/images/empty.png" border="0" width="0" height="0" alt=""/>
    </span>
  </div>
</div>

<div id="tpl-confirm-create-relation">
	<div>
  	$messages.get("confirm-create-relation")
		<div class="detail">
			<div class="from">
				<strong>#<span class="from-id">&nbsp;</span></strong>
				<span class="from-title">&nbsp;</span>
			</div>
			<div class="two-way-relation">
				<label>
					<input type="checkbox" checked="checked"/>
					<img src="$context/images/arrow-down.png" alt="&darr;" style="margin-left: -5px;"/>
				</label>
				<label>
					<img src="$context/images/arrow-up.png" alt="&uarr;" style="margin-right: -5px;"/>
					<input type="checkbox"/>
				</label>
			</div>
			<div class="to">
				<strong>#<span class="to-id">&nbsp;</span></strong>
				<span class="to-title">&nbsp;</span>
			</div>
		</div>
	</div>
</div>

<div id="tpl-fragment-body-row-with-empty-text">
	<table border="0">
	<tbody>
	#fragmentBodyRowWithTextContent($null)
	</tbody>
	</table>
</div>

</div>

#end