#macro( globalTemplates )

<div id="templates" style="display: none;">

<div id="tpl-selected-fragment-entry">
  #selectedFragmentEntry($null, "dummy")
</div>

<div id="tpl-dialog-confirm">
  <div class="dialog-confirm" title="">
    <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;">
      <img src="$context/images/empty.png" border="0" width="0" height="0" alt=""/>
    </span>
  </div>
</div>

<div id="tpl-fragment-body-row-with-empty-text">
	<table border="0">
	<tbody>
	#fragmentBodyRowWithTextContent($null)
	</tbody>
	</table>
</div>

</div>

#end