<div class="result">
#if ($hasErrors)
	<span class="error">$utils.raw($error)</span>
#else
	<div class="fragment-editor file-form" id="file-form" title="$title" style="display: none;">
  	<form method="post" enctype="multipart/form-data" 
				target="upload-frame" action="$context/partial/upload-file.htm">
			<input type="hidden" class="fileName" name="fileName"/>
			<input type="hidden" class="uploadedFilePath" name="uploadedFilePath"/>
			#fragmentFormCommonInputs("file-form" $fragment)
  		<div class="content">
  			<input type="file" class="file" name="file" size="60"/>
  		</div>
			<div class="preview">
			#if ($fragment.getId())
				#fragmentFileContent($fragment)
			#end
			</div>
  		<div class="buttons">
    		<span class="buttons">
    			<button class="register" type="button">$messages.get("register")</button>
    		</span>
    		<span class="indicator" style="margin-left: 10px;">&nbsp;</span>
    	</div>
  	</form>
		<iframe name="upload-frame" style="position: absolute; top: -9999px"></iframe>
	</div>
#end
</div>
