<div class="result">
#if ($hasErrors)
	<span class="error">$utils.raw($error)</span>
#else
	<div class="fragment-editor" id="$editorId" title="$editorTitle" style="display: none;">
  <form>
		#fragmentFormCommonInputs($editorId $fragment $parent)
    <div class="content">
    	<textarea class="fragment-content" name="content" rows="3" cols="20" 
    		title="$messages.get("FragmentForm-content")">$fragment.getContent()</textarea>
    </div>
  	<div class="buttons">
  		<span class="buttons">
  			<button class="preview" type="button">$messages.get("preview")</button>
  			<button class="register" type="button">$messages.get("register")</button>
				#if($isMinorEditAvailable)
  				<span class="minor-edit">
    				<input name="minorEdit" type="checkbox" id="${editorId}-minorEdit" 
    					/><label for="${editorId}-minorEdit">$messages.get("FragmentForm-minor-edit")</label>
  				</span>
				#end
  		</span>
  		<span class="indicator" style="margin-left: 10px;">&nbsp;</span>
  	</div>
  </form>
  </div>
#end
</div>
