<div>
#if ($error)
	<div class="res-error">
		<div class="error">$error</div>
	</div>
#else
  <div class="res-title">
  	<span class="title">$utils.blankToNbsp($fragment.title)</span>
		<span class="title-short">$utils.blankToNbsp($fragment.makeHeadline(15))</span>
  	<span class="headline">$utils.blankToNbsp($utils.raw($html.fragmentHeadline($fragment)))</span>
  </div>
  <div class="res-content">
  #if ($fragment.content && $fragment.content.trim() != "")
  	#fragmentTextContent($fragment)
  #end
  </div>
	<div class="res-update-info">
		#fragmentUpdateInfo($fragment)
	</div>
#end
</div>
