<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<script type="text/javascript" src="$context/$jQueryPath"></script>
	<script type="text/javascript">
	jQuery(function() {
		var form = jQuery('#file-form', window.parent.document);
		var fileView = jQuery(jQuery('#uploaded-file').html());
		fileView.find("img").load(function() {
			form.find("div.onPreviewUpdate").click();
		});
		form.find("div.preview").empty().append(fileView);
	});
	</script>
</head>
<body>

<div id="uploaded-file">
  <div class="file">
  #if ($isImageFile)
		<img class="uploaded" src="${context}${uploadedFilePath}" border="0" alt=""/>
	#end
  </div>
</div>
		
</body>
</html>
