<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<script type="text/javascript" src="$context/$jQueryPath"></script>
	<script type="text/javascript">
	jQuery(function() {
	#if ($hasErrors)
		jQuery('#file-form div.preview', window.parent.document).empty();
		alert("$error");
	#else
		var form = jQuery('#file-form', window.parent.document);
		
		form.find("form")
			.find("input.fileName").val("$fileName").end()
			.find("input.uploadedFilePath").val("$uploadedFilePath");
		
		var fileView = jQuery(jQuery('#uploaded-file').html());
		fileView.find("img").load(function() {
			window.parent.fileForm.onPreviewUpdate();
		});
		form.find("div.preview").empty().append(fileView);
	#end
	});
	</script>
</head>
<body>

<div id="uploaded-file">
  <div class="file">
  #if ($isImageFile)
		<a class="img-link" href="${context}${uploadedFilePath}">
		<img class="uploaded" src="${context}${uploadedFilePath}" border="0" alt=""/></a>
		<br/>
	#else
		$utils.raw($html.fileIcon($fileType))
	#end
		<span class="file-name">$fileName</span>
		<span class="file-size">($fileSize)</span>
  </div>
</div>
		
</body>
</html>
