<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<menu>

  <menu label="menu-home" path="home.htm" roles="default" imageSrc="/style/images/tag-home.png"/>
  
  <menu label="menu-filter" path="filter.htm" roles="default" imageSrc="/images/filter.png">
    <menu label="menu-new-filter" path="filter.htm?new=true" roles="default"/>
  </menu>
  
  <menu label="menu-system" path="home.htm" roles="owner" imageSrc="/images/system.png">
    <menu label="menu-export" path="export.htm" roles="owner"/>
    <menu label="menu-restore" path="restore.htm" roles="owner"/>
    <menu label="menu-system-info" path="system-info.htm" roles="owner"/>
  </menu>
  
</menu>